<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark special-color-dark mb-2" [containerInside]="false">
    <mdb-navbar-brand>
        <a class="navbar-brand" href="#">Revizor</a>
    </mdb-navbar-brand>
    <links>
        <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link waves-light" routerLink="/market" mdbWavesEffect>Marketplace</a>
            <a class="nav-item nav-link waves-light" routerLink="/profile" mdbWavesEffect>Mes fiches</a>
        </div>
        <div class="navbar-nav">
            <button type="button" routerLink="/login" mdbBtn color="deep-orange" size="sm" mdbWavesEffect>CONNEXION</button>
        </div>
    </links>
</mdb-navbar>