<mdb-card>
    <mdb-card-body>

        <mdb-card-title>
            <h4>{{ editionMod }} item: {{ courseSheet?.name | titlecase }}</h4>
        </mdb-card-title>

        <form [formGroup]="form">
            <div class="md-form">
                <input mdbInput type="text" formControlName="name" class="form-control" placeholder="Enter a name"
                    id="name">
                <label for="name" class="">Name</label>
            </div>
            <div class="md-form">
                <input mdbInput type="number" formControlName="price" class="form-control" placeholder="Enter a price"
                    id="price">
                <label for="price" class="">Price</label>
                <p style="color: orangered">Price should be a number !</p>
            </div>
            <div class="md-form">
                    <p>Choose your Author</p>
                    <select class="browser-default custom-select" formControlName="author">
                        <option *ngFor="let author of (authors | async)" [value]="author.id">{{author.firstname}} {{author.lastname}}
                        </option>
                    </select>
                </div>
            <div class="md-form">
                <p>Choose your category</p>
                <select class="browser-default custom-select" formControlName="category">
                    <option *ngFor="let category of (categories | async)" [value]="category.id">{{category.name}}
                    </option>
                </select>
            </div>
            <div class="md-form">
                <input mdbFileSelect type="file" (change)="handleFileInput($event.target.files)">
            </div>
            <div class="d-flex justify-content-end">
                <a mdbBtn color="primary" mdbWavesEffect (click)="onSubmit()">
                    <mdb-icon far icon="save" class="left"></mdb-icon>
                    Save
                </a>
                <button type="button" mdbBtn color="danger" mdbWavesEffect (click)="cancelEditMode()">
                    <mdb-icon fas icon="ban" class="left"></mdb-icon>
                    cancel
                </button>
            </div>
        </form>

    </mdb-card-body>
</mdb-card>