<div class="container-fluid">
    <div class="row">
        <!--#region courses sheet table -->
        <section class="col-12 mb-3">
            <button mdbBtn type="button" color="deep-orange" mdbWavesEffect (click)="activateEditMode(null)"><mdb-icon fas icon="plus" class="mr-1"></mdb-icon>Add Sheet</button>
            <mdb-card>
                <mdb-card-body class="overflow-x-scroll">
                    <table mdbTable>
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Category</th>
                                <th scope="col">Author</th>
                                <th scope="col">Last post date</th>
                                <th scope="col">Last update date</th>
                                <th scope="col">Last download date</th>
                                <th scope="col">Price</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr mdbTableCol *ngFor="let course of courses | async">
                                <th scope="row">
                                    <img [src]="course.image" width="32" height="32">
                                </th>
                                <td>{{course.name}}</td>
                                <td>{{course.category}}</td>
                                <td>{{course.author}}</td>
                                <td>{{course.postDate | date: 'medium'}}</td>
                                <td>{{course.updateDate | date: 'medium'}}</td>
                                <td>{{course.downloadDate | date: 'medium'}}</td>
                                <td>{{course.price}}</td>
                                <td>
                                    <button *ngIf="!onEdit" type="button" size="sm" mdbBtn color="info" mdbWavesEffect
                                        (click)="downloadSheet(course)">
                                        <mdb-icon fas icon="file-download"></mdb-icon>
                                        download
                                    </button>
                                    <button *ngIf="!onEdit" type="button" size="sm" mdbBtn color="primary"
                                        mdbWavesEffect (click)="activateEditMode(course)">
                                        <mdb-icon far icon="edit"></mdb-icon>
                                        edit
                                    </button>
                                    <button *ngIf="!onEdit" type="button" size="sm" mdbBtn color="danger" mdbWavesEffect
                                        (click)="removeSheet(course)">
                                        <mdb-icon far icon="trash-alt"></mdb-icon>
                                        delete
                                    </button>
                                    <button *ngIf="onEdit && isConnected && course.id === sheet.id" type="button"
                                        size="sm" mdbBtn color="danger" mdbWavesEffect (click)="deactivateEditMode()">
                                        <mdb-icon fas icon="ban" class="left"></mdb-icon>
                                        cancel
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </mdb-card-body>
            </mdb-card>
        </section>
        <!--#endregion-->
        <!--#region course-item edit form -->
        <section class="col-12 col-md-6" *ngIf="onEdit || onAdd">
            <app-course-sheet-form [editionMod]="editionMod" [courseSheet]="sheet" (onCancel)="deactivateEditMode()"></app-course-sheet-form>
        </section>
        <!--#endregion-->

        <section [hidden]="true" #courseSheet>
            <h2>Fiche: {{ sheet?.name | uppercase }}</h2>
            <ul>
                <li>Catégorie: {{sheet?.category}}</li>
                <li>Auteur: {{sheet?.author}}</li>
                <li>Date de publication: {{sheet?.postDate | date: 'medium'}}</li>
                <li>Date de la dernière mise à jour: {{sheet?.updateDate | date: 'medium'}}</li>
                <li>Tarif: <b>{{sheet?.price}} euros</b></li>
            </ul>
        </section>
    </div>
</div>